# API Secret Keys
SMARTSHEET_ACCESS_TOKEN=""

# Webhook Settings
EPR_TRACKER_API_GATEWAY_ADDRESS=""
PERSONNEL_MATTERS_API_GATEWAY_ADDRESS=""
SEPARATIONS_API_GATEWAY_ADDRESS=""
VACANCIES_API_GATEWAY_ADDRESS=""

# Box Credentials
BOX_CLIENT_ID=""
BOX_CLIENT_SECRET=""
BOX_JWT_KEY_ID=""
BOX_PRIVATE_KEY=""
BOX_PRIVATE_KEY_PASSPHRASE=""
BOX_ENTERPRISE_ID=""

# Settings
SBPD_STAGE="DEV"

# EMAIL - SEPARATIONS PROJECT
GMAIL_SENDER_ADDRESS=""
GMAIL_APP_PASSWORD=""  # https://myaccount.google.com/apppasswords